

:root{
  --main-color:#464644;
  --primary-color: #241B04;
  
  
}
*{
  font-family: 'Playfair Display', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
  transition: all .2s linear;
  margin-left: 0px;
  margin-top: 0px;
}

.heading{
  font-size: 4rem;
  margin:;
  color: var(--primary-color);
  text-align: center;
  padding-bottom: 27px;
}

.artist{
 
  background-color: #6D5D6E;
}

.box .image{
  margin-left: 30px;
  width: 400px;
  height: 300px;
  transform: translateY(-0.5);
}



.artist .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin-top: 0;
  
}

.artist .box-container .box .image{
  position: relative;
  overflow: hidden;
}

.artist .box-container .box .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .5rem;
}

.artist .box-container .box .image .share{
  width: 7rem;
  height: 38rem;
  position: absolute;
  left: -8rem; top: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
}

.artist .box-container .box .image:hover .share{
  left: 0;
}

.artist .box-container .box .image .share a{
  height: 2rem;
  width: 2rem;
  line-height: 5rem;
  font-size: 2.2rem;
  color: #fff;
  border: .1rem solid #fff;
  text-align: center;
}

.artist .box-container .box .image .share a:hover{
  background: #fff;
  color: var(--main-color);
}

.artist .box-container .box .content{
  padding-top: 1rem;
  height: 300px;
  width: 500px;
  margin-left: 1.5rem;
}

.artist .box-container .box .content h5{
  color: var(--primary-color);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.artist .box-container .box .content h3{
  font-size: 2.5rem;
  color:#1B110B;
}
.artist .box-container .box .content p a{
  box-shadow: 22px;
  font-size: 1rem;
  color: #241B04;
  font-weight: bold;
  text-align: center;
}

k
.footer{
  background: #eee5e6;
  text-align: center;
}

.footer .share{
  padding: 1rem 0;
}

.footer .share a{
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: var(--primary-color);
  border: .1rem solid var(--primary-color);
  margin: .3rem;
  border-radius: 50%;
}

.footer .share a:hover{
  color: #fff;
  background: var(--primary-color);
}

.footer .credit{
  font-size: 2rem;
  color: var(--black);
  padding: 1.5rem;
  font-weight: lighter;
}