.popup .overlay{
	
	top: 0px;
	left: 0px;
	width: 500vh;
	height: 200vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
	display: none;
	padding-left: 400px;
}

.popup .content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
	background: #fff;
	width:500px;
	height:300px;
	z-index: 2;
   align-content:right ;
   padding: 20px;
	box-sizing: border-box;
	color:#000;
;
	text-align: left;

}

.popup .content img{
  width: 20%;
	height: 50%;
	
	padding-top: 17px;
	align-items: right;
	align-content: right;
}
.popup .close-btn{
	position: absolute;
	right: 20px;
	top: 20px;
	width: 20px;
	height: 20px;
	
	color: #000;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;

}

.popup .active .overlay{
      display: block;	
}


.popup.active .content{
	transition:all 300ms ease-in-out ;
	transform: translate(-50%,-50%) scale(1);

}


